
<div class="app signin usersession">
    <div class="loginHeader">
        <div class="logo-img-box">
            <img src="{{imageBase}}pg-logo.png">
        </div>

        <ul class="nav navbar-nav navbar-right hidden-xs ">

            <li>
                <a href="javascript:;"   class="ripple" >
                   {{signupLowerCase}}
                </a>        
            </li>         
            <li>
                <a href="javascript:;"  class="link" >
                    |
                </a>        
            </li>         
            <li>
                <a href="javascript:;" class="ripple actionText" data-toggle="layout-chat-open">
                   {{loginLowerCase}}
                </a>
            </li>
        </ul>
    </div>
    <div class="session-wrapper">
        <div class="card bg-white no-border">
            <div class="text-center m-b m-t title-con">
                <h2 class="">{{changeyourpassword}}</h2>
            </div>
            <div class="card-block">
                <form class="password-form form-layout change-pass" role="form" action="/" >
                    <div class="form-inputs"> 
                        <input type="password" class="form-control input-lg" placeholder="{{newpassword}}"  id="newPass" required>
                        <input type="password" class="form-control input-lg" placeholder="{{confirmpassword}}"  id="confirmPass" required>
                    </div>
                    <div class="error" id="passowd-error"></div>
                    <button class="btn btn-primary btn-block btn-lg bodyText" id="changePass" type="button" >{{changepassword}}</button>
                </form>
                <div class="success-changed">
                    <h3>{{passwordchanged}}</h3>
                    <button type="button" class="btn">Ok</button>
                </div>
            </div>
        </div>

    </div>  
</div>

