
<div class="app signin usersession">
    <div class="loginHeader">
        <div class="logo-img-box">
            <img src="{{imageBase}}pg-logo.png">
        </div>

        <ul class="nav navbar-nav navbar-right hidden-xs ">

            <li>
                <a href="javascript:;" id="signupTop"  class="ripple" >
                    {{signupLowerCase}}
                </a>        
            </li>         
            <li>
                <a href="javascript:;"  class="link" >
                    |
                </a>        
            </li>         
            <li>
                <a href="javascript:;" class="ripple actionText" id="loginTop" data-toggle="layout-chat-open">
                  {{loginLowerCase}}
                </a>
            </li>
        </ul>
    </div>
    <div class="session-wrapper">
                <div class="card bg-white no-border">
                    <div class="text-center title-con">
                        <h4 class="modal-title text-center">{{forgotyourpassword}}</h4>
                    </div>
                    <div class="card-block">
                        <form role="form" class="form-layout" action="/" style="padding-top: 0px;">                       
                            <div class="form-inputs autofill">                               
                                <input type="email" class="form-control input-lg" id="email" placeholder="{{emailormobile}}" required>
                            </div>
                             <div id="error" class="errorMessage"> </div>
                            <button class="btn btn-primary btn-block btn-lg m-b bodyText" type="button" id="resetPassword">{{resetpassword}}</button>
                            <p class="messages">
                                {{forgotpasswordInstuctions}}
                            </p>
                        </form>
                    </div>
                
        </div>
    </div>  
</div>