<div class="printFormContainer">
    <div class="printFormHeader">{{heading}}</div>
    <div class="printFormBody">
        <div class="formInput">
            <label class="errorLabel">error</label>
            <input name="shippingName" id="shippingName" class="printFormInput" placeholder="Full name" value="{{name}}">
            <hr class="address-line-separator col-md-12"></hr>
        </div>
        <div class="formInput">
            <label class="errorLabel">error</label>
            <input name="shippingAddress1" id="shippingAddress1" class="printFormInput" placeholder="Address line 1" value="{{address1}}">
            <hr class="address-line-separator col-md-12"></hr>
        </div>
        <div class="formInput">
            <label class="errorLabel">error</label>
            <input name="shippingAddress2" id="shippingAddress2" class="printFormInput" placeholder="Address line 2" value="{{address2}}">
            <hr class="address-line-separator col-md-12"></hr>
        </div>
        <div class="formInput">
            <label class="errorLabel">error</label>
            <input name="shippingCity" id="shippingCity" class="printFormInput" placeholder="City" value="{{city}}">
            <hr class="address-line-separator col-md-12"></hr>
        </div>
        <div class="formInput">
            <label class="errorLabel">error</label>
            <input name="shippingState" id="shippingState" class="printFormInput" placeholder="State/Province/Region" value="{{state}}">
            <hr class="address-line-separator col-md-12"></hr>
        </div>
        <div class="formInput">
            <label class="errorLabel">error</label>
            <input name="shippingZIP" id="shippingZIP" class="printFormInput" placeholder="ZIP" value="{{zip}}">
            <hr class="address-line-separator col-md-12"></hr>
        </div>
        <div class="formInput">
            <label class="errorLabel">error</label>
            <input name="shippingPhone" id="shippingPhone" class="printFormInputBottom" placeholder="Mobile number" value="{{phone}}">
        </div>
    </div>
    <div class="printFormBody ">
        <input name="shippingCountry" id="shippingCountry" class="printFormInputBottom" placeholder="United States" value="{{country}}"
            readonly="readonly">
    </div>
    <div class="printFormBodyBox">
        <div id="saveShippingData" class="shippingShipBtn">{{submitLabel}}</div>
    </div>

</div>