<div class="printFormContainer">
    <div class="printFormHeader">{{heading}}</div>
    <div class="overFlowHide noPadding orderListScreen">
        {{#if printedOrdersList}} {{#each printedOrdersList}}
        <div class="col-md-12 noPadding orderBlock" id="{{this.id}}">
            <div class="col-md-12 orderSummeryTile">
                <div class="col-md-4 noPadding">
                    <img src="{{this.cover_url}}" width="154" height="154" class="orderDetailsImgBox" alt="">
                </div>
                <div class="col-md-8 title noPadding">
                    <div><b>{{this.cover_caption}}</b></div>
                    <div>Order no: {{this.order_number}}</div>
                    <div>{{this.size}} Book ({{sanitize this.no_of_spreads '{"formatType": 4}'}} pages)</div>
                    <div>You Paid: ${{this.order_total_amount}}</div>
                    <div class="col-md-5">
                        <div class="orderDetails orderDetailsLink">Order details</div>
                    </div>
                    <div class="col-md-7 reorderBg pull-right noPadding">{{note1}}
                        <div class="orderSummaryPrimaryFormBtn reOrderPhotoBook pull-right">Reorder</div>

                    </div>
                </div>
            </div>

        </div>
        <hr class="col-md-12 reOrderHr"></hr>
        {{/each}} {{else}}
        <div class="col-md-12 noPadding orderFormBg">
            <center>You haven't placed any photobook orders yet.</center>
        </div>
        {{/if}}

    </div>
</div>