<div class="printFormContainer row">
    <div class="printFormHeader">Select Delivery Option</div>
    <div class="printFormBody row">
        {{#each deliveryOptions}}
        <hr class="address-line-separator"></hr>
        <div class="printDeliveryOptionElements">
            <div class="col-md-1 radioContainer text-center deliveryOptionList">
                <div class="share-RadioImg shareRadio printRadio" id="{{this.id}}">
                    <input class="share-radio" type="radio" checked="" name="shareWith">
                </div>
            </div>
            <div class="col-md-10">
                <div><b>{{this.delivery_type}}</b> at {{currency this.price "USD"}} ({{this.shipping_days}} Day Delivery)</div>
                <div>Estimated Delivery Date {{formatDate this.ship_by_date 1}}</div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="printFormBodyBox">
        <div id="saveDeliveryData" class="printFormPrimaryBtn">{{submitLabel}}</div>
    </div>
</div>
</div>