<div class="card card-block t3 b-a-0 bg-notification text-white">    
    <div class="icon-notification"><img src="assets/images/design.png" alt="design completed."> </div>
    <div class="h4"> <div>
            {{text.start}}
            <b>{{text.title}}</b>
            {{text.end}}
        </div> <div class="time-details">{{dateStr}}</div></div>
    <div class="text-right close-nt">         
       <div class="text-right closeImage imageAdd close3" data-objid="{{objectId}}"> </div>    
    
    </div>
</div>