{{#if isDashBoard}}
<div class="card card-block t3 b-a-0 bg-notification text-white">    
    <div class="icon-notification"> 
        <div class="imageAdd pribitOrderNotification" > </div>
    </div>
    <div class="h4"> <div>
            <b>{{text.name}}</b> 
            {{text.start}}
            <b>{{text.title}}</b>
            {{text.end}}
        </div> <div class="time-details">{{dateStr}}</div></div>
    <div class="text-right close-nt">
        <div class="text-right closeImage imageAdd closePS14" data-objid="{{objectId}}"> </div>
    </div>
</div>
{{else}}
<div class="card card-block t3 b-a-0 bg-notification {{classes}} text-white row">    
    <div class="icon-notification">
        <div class="imageAdd pribitOrderNotification" > </div>
    </div>
    <div class="h4"> <div>
            <b>{{text.name}}</b> 
            {{text.start}}
            <b>{{text.title}}</b>
            {{text.end}}
        </div><div class="time-details">{{dateStr}}</div>
    </div>
    <div class="text-right close-nt">        
        <div class="text-right closeImage imageAdd closePS14Bell" data-objid="{{objectId}}"> </div>
    </div>
</div>
{{/if}}