<a href="{{previewLink}}" class="card card1 card-block t3 b-a-0 bg-notification {{classes}} text-white row" id="{{order}}" data-objid="{{objectId}}">    
    <div class="icon-notification">
        <div class="imageAdd storyShareReceived" > </div>
    </div>
    <div class="h4"><div> 
            <b>{{text.name}}</b> 
            {{text.start}}
            <b>{{text.title}}</b>
            {{text.end}}
        </div><div class="time-details">{{dateStr}}</div>

    </div>
    <div class="text-right close-nt"><img src="{{profileUrl}}"  class="userspic"></div>
</a>
